/* Navigation Bar */
#navbar{
    flex-direction: column;
}

/* Home Section */
#home{
    height: 370px;
    padding: 20px 20px;
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

/* Services Section */
#services{
    flex-direction: column;
}
#services .box{

}

/* Client Section */
#clients{
    overflow: hidden;
}

/* Contact Us Section */


/* Footer */


/* Utility Classes */
.h-primary{
    font-size: 23px;
}